* {
  -webkit-tap-highlight-color: transparent;
  min-height: 0;
  min-width: 0; }

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

html, body, #react_main {
  height: 100%;
  margin: 0;
  padding: 0; }

body {
  font-size: 13px;
  line-height: 20px;
  font-family: IRANSans;
  background: #e1dfda; }

.map {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; }

.footer {
  position: absolute;
  bottom: 0;
  width: 90%;
  background: #ffffff;
  right: 50%;
  margin-right: -45%;
  border-radius: 5px 5px 0 0;
  height: 100px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.1); }

.slider .item {
  text-align: center;
  height: 100%;
  padding-top: 15px; }
  .slider .item img {
    display: inline;
    height: 20px;
    width: auto; }

.inline-list {
  direction: rtl;
  margin: 0;
  padding: 0;
  line-height: 60px; }
  .inline-list li {
    display: inline-block;
    height: 50px;
    line-height: 50px;
    margin: 5px;
    text-align: center;
    position: relative;
    padding: 0 20px 0 100px;
    min-width: 30px; }
    .inline-list li img {
      display: inline;
      height: 24px;
      width: auto;
      vertical-align: middle;
      padding-left: 10px; }
    .inline-list li span {
      width: 100px;
      text-align: center;
      font-weight: 100;
      position: absolute;
      left: 0;
      color: #333;
      padding-right: 10px; }
    .inline-list li:after {
      position: absolute;
      width: 1px;
      height: 20px;
      background-color: #eee;
      content: '';
      left: 0;
      top: 15px; }

.modal {
  position: absolute;
  top: -20px;
  right: -30px; }
  .modal .typing-indicator {
    background-color: #fff;
    width: 28px;
    border-radius: 10px 10px 10px 0;
    padding: 5px;
    display: inline-block;
    margin: 0 auto;
    position: relative;
    animation: 2s bulge infinite ease-out;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); }
    .modal .typing-indicator span {
      height: 5px;
      width: 5px;
      margin: 0 2px;
      background-color: #156afb;
      display: inline-block;
      border-radius: 50%;
      opacity: 0.4; }
      .modal .typing-indicator span:nth-of-type(1) {
        animation: 1s blink infinite 0.3333s; }
      .modal .typing-indicator span:nth-of-type(2) {
        animation: 1s blink infinite 0.6666s; }
      .modal .typing-indicator span:nth-of-type(3) {
        animation: 1s blink infinite 0.9999s; }
  .modal .idle-indicator {
    background-color: #fff;
    width: 28px;
    border-radius: 10px 10px 10px 0;
    padding: 5px;
    display: inline-block;
    margin: 0 auto;
    z-index: 0;
    position: relative;
    animation: 2s bulge infinite ease-out;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); }
    .modal .idle-indicator span {
      font-size: 10px;
      margin: 0 1px;
      color: #156afb;
      display: inline-block;
      border-radius: 50%;
      opacity: 0.4; }
      .modal .idle-indicator span:nth-of-type(1) {
        animation: 1.5s bigger infinite 0.3333s; }
      .modal .idle-indicator span:nth-of-type(2) {
        animation: 1.5s bigger infinite 0.6666s; }
      .modal .idle-indicator span:nth-of-type(3) {
        animation: 1.5s bigger infinite 0.9999s; }
  .modal .sent-indicator {
    background-color: #fff;
    text-align: center;
    width: 28px;
    border-radius: 10px 10px 10px 0;
    padding: 5px;
    display: inline-block;
    margin: 0 auto;
    position: relative;
    animation: 2s hide ease-out;
    animation-iteration-count: 1;
    opacity: 0;
    transform: translateY(0px);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); }
    .modal .sent-indicator img {
      vertical-align: middle; }

@keyframes blink {
  50% {
    opacity: 1; } }

@keyframes bigger {
  50% {
    font-size: 12px;
    opacity: 1; } }

@keyframes bulge {
  50% {
    transform: scale(1.05); } }

@keyframes hide {
  0% {
    opacity: 1;
    transform: translateY(0px); }
  100% {
    opacity: 0;
    transform: translateY(-50px); } }
