* {
  -webkit-tap-highlight-color: transparent;
  min-height: 0;
  min-width: 0;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

html, body, #react_main {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-size: 13px;
  line-height: 20px;
  font-family: IRANSans;
  background: #e1dfda;
}

.map {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 90%;
  background: #ffffff;
  right: 50%;
  margin-right: -45%;
  border-radius: 5px 5px 0 0;
  height: 100px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);

}

.slider {
  .item {
    text-align: center;
    height: 100%;
    padding-top: 5px;
    img {
      display: inline;
      height: 40px;
      width: auto;
    }
  }
}

.inline-list {
  direction: rtl;
  margin: 0;
  padding: 0;
  line-height: 60px;
  white-space: nowrap;
  background: #ffffff;
  li {
    display: inline-block;
    height: 50px;
    line-height: 50px;
    margin: 5px;
    text-align: center;
    position: relative;
    padding: 0 20px 0 100px;
    min-width: 30px;
    img {
      display: inline;
      height: 24px;
      width: auto;
      vertical-align: middle;
      padding-left: 10px;
    }
    span {
      width: 100px;
      text-align: center;
      font-weight: 100;
      position: absolute;
      left: 0;
      color: #333;
      padding-right: 10px;
    }
    &:after {
      position: absolute;
      width: 1px;
      height: 20px;
      background-color: #eee;
      content: '';
      left: 0;
      top: 15px;
    }
  }
}

.modal {
  position: absolute;
  top: -20px;
  left: 50%;
  margin-left: 5px;
  .typing-indicator {
    $ti-color-bg: #fff;
    background-color: $ti-color-bg;
    width: 28px;
    border-radius: 10px 10px 10px 0;
    padding: 5px;
    display: inline-block;
    margin: 0 auto;
    position: relative;
    animation: 2s bulge infinite ease-out;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    span {
      height: 5px;
      width: 5px;
      margin: 0 2px;
      background-color: #156afb;
      display: inline-block;
      border-radius: 50%;
      opacity: 0.4;
      @for $i from 1 through 3 {
        &:nth-of-type(#{$i}) {
          animation: 1s blink infinite ($i * .3333s);
        }
      }
    }
  }
  .idle-indicator {
    $ti-color-bg: #fff;
    background-color: $ti-color-bg;
    width: 28px;
    border-radius: 10px 10px 10px 0;
    padding: 5px;
    display: inline-block;
    margin: 0 auto;
    z-index: 0;
    position: relative;
    animation: 2s bulge infinite ease-out;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    span {
      font-size: 10px;
      margin: 0 1px;
      color: #156afb;
      display: inline-block;
      border-radius: 50%;
      opacity: 0.4;
      @for $i from 1 through 3 {
        &:nth-of-type(#{$i}) {
          animation: 1.5s bigger infinite ($i * .3333s);
        }
      }
    }
  }
  .sent-indicator {
    $ti-color-bg: #fff;
    background-color: $ti-color-bg;
    text-align: center;
    width: 28px;
    border-radius: 10px 10px 10px 0;
    padding: 5px;
    display: inline-block;
    margin: 0 auto;
    position: relative;
    animation: 2s hide ease-out;
    animation-iteration-count: 1;
    opacity: 0;
    transform: translateY(0px);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    img {
      vertical-align: middle;
    }
  }
  .dig-indicator {
    $ti-color-bg: #EBA000;
    background-color: $ti-color-bg;
    text-align: center;
    width: 28px;
    border-radius: 10px 10px 10px 0;
    padding: 5px;
    display: inline-block;
    margin: 0 auto;
    position: relative;
    opacity: 0;
    animation: 5S invisibleMotion ease-out;
    animation-iteration-count: 1;
    transform: translateY(0);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    img {
      transform: rotate(20deg);
      animation: 1s digging infinite ease;
      vertical-align: middle;
    }
  }

  .new-indicator {
    $ti-color-bg: #fff;
    background-color: $ti-color-bg;
    text-align: center;
    width: 28px;
    border-radius: 10px 10px 10px 0;
    padding: 5px;
    display: inline-block;
    margin: 0 auto;
    position: relative;
    opacity: 0;
    animation: 100S invisibleMotion ease-out;
    animation-iteration-count: 1;
    transform: translateY(0);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    span {
      display: inline-block;
      transform: rotate(-25deg);
      animation: 1s waver infinite ease;
    }
  }

}


@keyframes waver {
  0% {transform: rotate(-25deg);}
  50% {transform: rotate(90deg);}
  100% {transform: rotate(-25deg);}
}

@keyframes blink {
  50% {
    opacity: 1;
  }
}

@keyframes invisibleMotion {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  90% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
    opacity: 0;
  }
}

@keyframes digging {
  50% {
    transform: rotate(-40deg);
  }
}

@keyframes bigger {
  50% {
    font-size: 12px;
    opacity: 1;
  }
}

@keyframes bulge {
  50% {
    transform: scale(1.05);
  }
}

@keyframes hide {
  0% {
    opacity: 1;
    transform: translateY(0px);
  }
  100% {
    opacity: 0;
    transform: translateY(-50px);
  }
}

.bounce {
  animation: bounce 1s infinite;
}
.scaleIn {
  animation: scale 1s ;
  animation-iteration-count: 4;

}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

@keyframes scale {
  0% { -webkit-transform: matrix3d(0.5, 0, 0, 0, 0, 0.5, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.5, 0, 0, 0, 0, 0.5, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  3.4% { -webkit-transform: matrix3d(0.658, 0, 0, 0, 0, 0.703, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.658, 0, 0, 0, 0, 0.703, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  4.7% { -webkit-transform: matrix3d(0.725, 0, 0, 0, 0, 0.8, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.725, 0, 0, 0, 0, 0.8, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  6.81% { -webkit-transform: matrix3d(0.83, 0, 0, 0, 0, 0.946, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.83, 0, 0, 0, 0, 0.946, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  9.41% { -webkit-transform: matrix3d(0.942, 0, 0, 0, 0, 1.084, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.942, 0, 0, 0, 0, 1.084, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  10.21% { -webkit-transform: matrix3d(0.971, 0, 0, 0, 0, 1.113, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.971, 0, 0, 0, 0, 1.113, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  13.61% { -webkit-transform: matrix3d(1.062, 0, 0, 0, 0, 1.166, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.062, 0, 0, 0, 0, 1.166, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  14.11% { -webkit-transform: matrix3d(1.07, 0, 0, 0, 0, 1.165, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.07, 0, 0, 0, 0, 1.165, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  17.52% { -webkit-transform: matrix3d(1.104, 0, 0, 0, 0, 1.12, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.104, 0, 0, 0, 0, 1.12, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  18.72% { -webkit-transform: matrix3d(1.106, 0, 0, 0, 0, 1.094, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.106, 0, 0, 0, 0, 1.094, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  21.32% { -webkit-transform: matrix3d(1.098, 0, 0, 0, 0, 1.035, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.098, 0, 0, 0, 0, 1.035, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  24.32% { -webkit-transform: matrix3d(1.075, 0, 0, 0, 0, 0.98, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.075, 0, 0, 0, 0, 0.98, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  25.23% { -webkit-transform: matrix3d(1.067, 0, 0, 0, 0, 0.969, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.067, 0, 0, 0, 0, 0.969, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  29.03% { -webkit-transform: matrix3d(1.031, 0, 0, 0, 0, 0.948, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.031, 0, 0, 0, 0, 0.948, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  29.93% { -webkit-transform: matrix3d(1.024, 0, 0, 0, 0, 0.949, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.024, 0, 0, 0, 0, 0.949, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  35.54% { -webkit-transform: matrix3d(0.99, 0, 0, 0, 0, 0.981, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.99, 0, 0, 0, 0, 0.981, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  36.74% { -webkit-transform: matrix3d(0.986, 0, 0, 0, 0, 0.989, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.986, 0, 0, 0, 0, 0.989, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  41.04% { -webkit-transform: matrix3d(0.98, 0, 0, 0, 0, 1.011, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.98, 0, 0, 0, 0, 1.011, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  44.44% { -webkit-transform: matrix3d(0.983, 0, 0, 0, 0, 1.016, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.983, 0, 0, 0, 0, 1.016, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  52.15% { -webkit-transform: matrix3d(0.996, 0, 0, 0, 0, 1.003, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.996, 0, 0, 0, 0, 1.003, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  59.86% { -webkit-transform: matrix3d(1.003, 0, 0, 0, 0, 0.995, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.003, 0, 0, 0, 0, 0.995, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  63.26% { -webkit-transform: matrix3d(1.004, 0, 0, 0, 0, 0.996, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.004, 0, 0, 0, 0, 0.996, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  75.28% { -webkit-transform: matrix3d(1.001, 0, 0, 0, 0, 1.002, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.001, 0, 0, 0, 0, 1.002, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  85.49% { -webkit-transform: matrix3d(0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  90.69% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  100% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
}

