.user-list {
  padding: 0;
  list-style: none;
  width: 300px;
  margin: auto;
  li {
    height: 100px;
    line-height: 100px;
    box-shadow: 0 2px 2px #eee;
    font-size: 20px;
    img {
      border-radius: 100%;
      height: 50px;
      width: 50px;
      vertical-align: middle;
      padding: 0 15px;

    }
  }
}

.pagination {
  list-style: none;
  margin: auto;
  width: 70%;
  text-align: center;
  height: 50px;
  line-height: 50px;
  li {
    padding: 0;
    width: 30px;
    height: 30px;
    border: 1px solid #dddddd;
    border-radius: 100%;
    margin: 0 5px;
    line-height: 30px;
    display: inline-block;
    cursor: pointer;

    &.active {
      background: cornflowerblue;
    }
    &:hover,&:focus{
      background: cornflowerblue;
    }
  }
}

strong {
  position: absolute;
  width: 200px;
  height: 150px;
  line-height: 150px;
  text-align: center;
  top: 50%;
  right: 50%;
  margin-right: -100px;
  margin-top: -75px;
}