* {
  -webkit-tap-highlight-color: transparent;
  min-height: 0;
  min-width: 0;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

html, body, #react_main {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-size: 13px;
  line-height: 20px;
  font-family: IRANSans;
  background: #e1dfda;
}

.map {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 90%;
  background: #ffffff;
  right: 50%;
  margin-right: -45%;
  border-radius: 5px 5px 0 0;
  height: 100px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);

}

.slider {
  .item {
    text-align: center;
    height: 100%;
    padding-top: 15px;
    img {
      display: inline;
      height: 20px;
      width: auto;
    }
  }
}

.inline-list {
  direction: rtl;
  margin: 0;
  padding: 0;
  line-height: 60px;
  li {
    display: inline-block;
    height: 50px;
    line-height: 50px;
    margin: 5px;
    text-align: center;
    position: relative;
    padding: 0 20px 0 100px;
    min-width: 30px;
    img {
      display: inline;
      height: 24px;
      width: auto;
      vertical-align: middle;
      padding-left: 10px;
    }
    span {
      width: 100px;
      text-align: center;
      font-weight: 100;
      position: absolute;
      left: 0;
      color: #333;
      padding-right: 10px;
    }
    &:after {
      position: absolute;
      width: 1px;
      height: 20px;
      background-color: #eee;
      content: '';
      left: 0;
      top: 15px;
    }
  }
}